<%# Button. Locals: variant (primary|secondary|ghost|danger|tertiary), size (md|sm), type, label, href, name, value, disabled, busy, formaction, formnovalidate. %>
<%
  var v = (typeof variant !== 'undefined') ? variant : 'primary';
  var s = (typeof size !== 'undefined') ? size : 'md';
  var t = (typeof type !== 'undefined') ? type : 'button';
  var classes = 'btn btn--' + v + ' btn--' + s;
  var d = (typeof disabled !== 'undefined') && disabled;
  var b = (typeof busy !== 'undefined') && busy;
%>
<% if (typeof href !== 'undefined' && href) { %>
  <a href="<%= href %>" class="<%= classes %>"><%= label %></a>
<% } else { %>
  <button type="<%= t %>" class="<%= classes %>"
    <% if (typeof name !== 'undefined' && name) { %>name="<%= name %>"<% } %>
    <% if (typeof value !== 'undefined' && value) { %>value="<%= value %>"<% } %>
    <% if (typeof formaction !== 'undefined' && formaction) { %>formaction="<%= formaction %>"<% } %>
    <% if (typeof formnovalidate !== 'undefined' && formnovalidate) { %>formnovalidate<% } %>
    <% if (d) { %>disabled<% } %>
    <% if (b) { %>aria-busy="true"<% } %>
  ><%= label %></button>
<% } %>
